@media only screen and (min-width: 60em) {
    body {
        max-width: 750px;
    }

    header {
        margin-right: -13px;
    }

	main {
        grid-template-columns: 1fr 1fr 1fr;
	}

	main section:nth-child(3) {
        grid-column: span 1;
        width: 101%;
    }
}