@media only screen and (min-width: 1200px) {
    body {
        max-width: 1200px;
        margin: 0 auto;
    }

    .gallery {
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
    }

    .gallery img:hover {
        box-shadow: 0 0 40px #063741;
    }

    .large-appear {
        display: inline;
    }
}