@media only screen and (min-width: 37.5em) {
    body {
        margin: 0 20px 0 20px;
    }

    main, footer {
        max-width: 00px;
        margin: 20px auto 20px auto;
    }
    
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    nav button {
        display: none;
    }

    .hide {
        display: flex;
    }

    li:first-child a:hover {
        border-radius: 5px 0 0 5px;
    }

    li:last-child a:hover {
        border-radius: 0 5px 5px 0;
    }
}