body {
    background-color: #094d92;
}

header {
    background-color: white;
    padding-bottom: 10px;
    border-radius: 5px;
}

header img {
    display: block;
    float: left;
    padding-left: 30px;
}

header h1, p {
    text-align: center;
    padding-right: 130px;
}

header p {
    font-family: 'Oldenburg', cursive;
    font-size: 14px;
}

header h1 {
    padding-top: 20px;
    font-family: 'Cabin Sketch', cursive;
    font-weight: bold;
}

#responsive-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

nav {
    background-color: white;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
}

nav li {
    text-align: center;
    font-family: 'Oldenburg', cursive;
}

nav button {
    margin: .7rem .5rem;
    background-color: transparent;
    border: none;
    font-size: 1.4rem;
}

li a:link {
    display: block;
    color: #094d92;
    text-decoration: none;
    border-top: 1px solid #0c7489;
    padding: 10px;
}

li a:visited {
    color: #0c7489;
}

li a:hover {
    background-color: #4bfa4b;
    color: black;
    padding: 15px;
    font-size: larger;
}

li:last-child a:hover {
    border-radius: 0 0 5px 5px;
}

main {
    text-align: center;
    background-color: white;
    font-family: 'Oldenburg', cursive;
    margin-top: 10px;
    border-radius: 5px;
    padding: .5em 0 .5em;
}

main div {
    border: 1px dashed #0c7489;
    margin: 1.5em;
    padding: .5em;
}

h2 {
    font-family: 'Cabin Sketch', cursive;
    font-size: 28px;
}

footer {
    text-align: center;
    background-color: white;
    margin-top: 10px;
    border-radius: 5px;
    padding: 8px;
}