body {
   background-color: #EED4AD;
   color: #050517;
   margin-left: auto;
   margin-right: auto;
}

/* Header */
header {
   text-align: center;
   border: 2px solid #b05536;
   background-color: #FFE0AB;
   padding-bottom: 10px;
   margin: 10px;
   border-radius: 5px;
   display: grid;
   grid-template-rows: auto;
}

header a {
   margin-left: auto;
   margin-right: auto;
}

header img {
   display: block;
   float: left;
   margin-left: auto;
   margin-right: auto;
}

header h1, p {
   text-align: center;
   color: #050517;
}

header p {
   font-family: 'Rancho', cursive;
   font-size: 24px;
}

header h1 {
   margin: 0px;
   padding-top: 20px;
   font-family: 'Ranchers', cursive;
}
/****************************************/

/* Navigation */
#responsive-nav {
   list-style-type: none;
   margin: 0;
   padding: 0;
}

nav {
   background-color: #FFE0AB;
   text-align: center;
   margin: 10px;
   border-radius: 5px;
   border: 2px solid #b05536;
}

nav li {
   text-align: center;
   font-family: 'Rancho', cursive;
   font-size: 22px;
}

nav button {
   margin: .7rem .5rem;
   background-color: transparent;
   border: none;
   font-size: 1.4rem;
}

nav li a:link {
   display: block;
   color: #050517;
   text-decoration: none;
   border-top: 2px solid #b05536;
   padding: 10px;
}

nav li a:visited {
   color: #050517;
}

nav li a:hover {
   background-color:  #b05536;
   color: white;
   padding: 10px;
   font-size: larger;
}

nav li:last-child a:hover {
   border-radius: 0 0 5px 5px;
}

.active {
   background-color: #b05536;
}

.active a:link {
   color: white;
}

.active a:visited {
   color: white;
}
/***********************************/

/* Main */
main {
   text-align: center;
   border: 2px solid #b05536;
   background-color: #FFE0AB;
   padding-bottom: 10px;
   margin: 10px;
   border-radius: 5px;
}

main h1, p {
   text-align: center;
   color: #050517;
}

main h2, h3 {
   font-family: 'Rancho', cursive;
   font-size: 24px;
   font-weight: normal;
}

main p {
   font-family: 'Mali', cursive;
}

main h1 {
   margin: 0px;
   padding-top: 20px;
   font-family: 'Ranchers', cursive;
}

/* Slideshow */
#slider {
    margin: 0 auto;
    width: 700px;
    max-width: 100%;
    text-align: center;
 }

 #slider input[type=radio] {
    display: none;
 }

 .slide {
    background-color: #FFE0AB;
 }

 #slider label {
    cursor:pointer;
    text-decoration: none;
 }

 #slides {
    border: 2px solid #EED4AD;
    background: #fff;
    position: relative;
    z-index: 1;
 }

 #overflow {
    width: 100%;
    overflow: hidden;
 }

 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }

 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }

 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }

 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }

 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 480px;
 }

 #slides .slide {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
 }

 #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }

 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }

 #controls label:hover {
    opacity: 1;
 }

 #bullets {
    margin: 150px 0 0;
    text-align: center;
 }

 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    border: 1px solid #b05536;
    background: #FFE0AB;
    margin: 0 10px;
 }

 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4) {
    background:#4B5842;
 }

.hide {
   display: none;
}
/**************************************************/

/* Reservation Div */
#reserve-now-div {
   position: relative;
   top: 0;
   left: 0;
}

#womanscooter {
   top: 0;
   left: 0;
   width: 100%;
   position: relative;
}

#reserve-now-img {
   top: 2px;
   left: 0;
   position: absolute;
}
/*********************/

/*Table Rental Summary */
table {
   box-shadow: 5px 5px 5px #b05536;
   margin: 10px;
   margin-left: auto;
   margin-right: auto;
   width: 90%;
}

#rentals-summary span {
   font-size: 12px;
   font-weight: normal;
}

table, th, td {
   font-family: 'Mali', sans-serif;
   border: 2px solid #b05536;
   border-collapse: collapse;
   padding: 5px;
}

table tr:nth-child(2) {
   font-weight: bold;
}

table tbody td {
   font-size: 14px;
}

thead {
   font-size: 16px;
   color: white;
   background-color: #b05536;
}

tbody tr:nth-child(even) {
   background-color: #ffffff;
}

tbody tr:nth-child(odd) {
   background-color: #fff8ec;
}
/**************************************/

/* Weather Summary */
.weather-summary {
   margin: 20px auto 10px auto;
   width: 90%;
   background: radial-gradient(rgb(253, 240, 220), #FFE0AB);
   display: grid;
   grid-template-columns: 1fr 1fr;
   border: 2px solid #b05536;
   font-size: 14px;
   opacity: .95;
}
.weather-summary h3 {
   border-bottom: 2px solid #4B5842;
   padding-bottom: 10px;
   margin-left: 10px;
   margin-right: 10px;
   grid-column: 1/3;
   margin-bottom: 0px;
   font-size: 22px;
}

.labels {
   grid-column: 1/2;
   justify-content: right;
   padding-right: 10px;
}

.labels p {
   padding: 0px;
   text-align: right;
   font-weight: bold;
}

.values {
   grid-column: 2/3;
}

.values p {
   padding: 0px;
   text-align: left;
}
#forecast table {
   margin-left: auto;
   margin-right: auto;
   width: 80%;
}
#forecast table tbody th:nth-last-child(-n+2) {
   display: none;
 }
#forecast table tbody td:nth-last-child(-n+2) {
   display: none;
 }
/*************************************************/

/* Footer */
.contact {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   align-items: center;
}
.contact p:first-child {
   grid-column: 1/2;
}
.contact p:nth-child(3) {
   grid-column: 3/4;
}
.contact p:nth-child(2) {
   grid-column: 2/3;
   text-align: center;
   font-family: 'Ranchers', cursive;
   font-size: 22px;
   margin-top: 10px;
   margin-bottom: 4px;
}
.social {
   text-align: center;
   margin: auto;
   width: 50%;
}
.social img {
   border-radius: 5px;
   margin: 5px;
}
.copyright {
   text-align: center;
   margin-top: 15px;
   margin-bottom: 10px;
}

/* Rentals */

#all-rentals section {
   background-color: white;
   border: 2px solid #b05536;
   margin: 15px;
   padding: 20px;
}

#all-rentals h3 {
   text-decoration: underline;
   font-size: 28px;
   margin-top: 40px;
}

#all-rentals h4 {
   font-family: Rancho;
   font-size: 24px;
}

#all-rentals button {
   width: 100px;
   padding: 5px;
   background-color: #FFE0AB; 
   color: black; 
   border: 2px solid #b05536;
   transition-duration: 0.2s;
   font-family: "Rancho";
   font-size: 20px;
}

#all-rentals button:hover {
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
   background-color: #b05536;
   color: white;
}

/**************/

/* Reservations */

#hero-res {
   margin: 0 10px 0 10px;
}

#beach-banner {
   width: 100%;
   border-radius: 5px;
}

form {
   display: flex;
   flex-wrap: wrap;
   margin: 40px auto 40px 50px;
   text-align: left;
   justify-content: space-evenly;
}

form p {
   text-align: left;
   font-family: 'Times New Roman', Times, serif
}

form section {
   border-bottom: 2px dotted #b05536;
   margin: 10px;
}

form textarea {
   width: 20em;
   height: 8em;
}

#info-services {
   padding-bottom: 30px;
}

#submit-button {
   width: 100px;
   padding: 5px;
   background-color: #FFE0AB; 
   color: black; 
   border: 2px solid #b05536;
   transition-duration: 0.2s;
   font-family: "Rancho";
   font-size: 20px;
}

#submit-button:hover {
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
   background-color: #b05536;
   color: white;
}

/**********************/

/* Tours */

.tours img[data-src] {
   filter: blur(0.2em);
}

.tours {
   display: grid;
   grid-gap: 50px;
   grid-auto-rows: 300px;
   justify-content: center;
}

.tours img {
   filter: blur(0em);
   transition: filter 0.5s;
   border-radius: 5px;
}

.tours figcaption {
   font-family: "Rancho";
   font-size: 22px;
}

#tripadvisor {
   margin-left: 50px;
   margin-right: 50px;
}

#tripadvisor a:link {
   font-weight: bolder;
   text-decoration: none;
   color: #050517;
}

#tripadvisor a:visited {
   color: #3f1f14;
}

#tripadvisor a:hover {
   color: #293024;
   font-size: 18px;
}

.tours img:hover {
   box-shadow: 0 0 40px #b05536;
}

article {
   margin-left: 50px;
   margin-right: 50px;
   margin-bottom: 30px;
   padding: 30px;
   background-color: #EED4AD;
   border: 2px dashed #b05536;
   border-radius: 5px;
}

/* Contact */

.button-div {
   text-align: center;
}

#contact-us {
   border-bottom: none;
   text-align: center;
}

#send-button {
   width: 100px;
   padding: 5px;
   background-color: #FFE0AB; 
   color: black; 
   border: 2px solid #b05536;
   transition-duration: 0.2s;
   font-family: "Rancho";
   font-size: 20px;
   text-align: center;
}

#send-button:hover {
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
   background-color: #b05536;
   color: white;
}

#find-us h2 {
   font-size: 30px;
}

#find-us div {
   border: 2px solid #b05536;
   margin: 10px;
   padding: 10px;
   border-radius: 5px;
}